body{
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    color:grey;
    
}
.container{
 
    background-color:white;
    border-radius: 10px;
    width: 35%;
    text-align: center;
    height:auto;
    padding-bottom: 30px;
    padding-top: 10px;
    
    

}

.select{
    margin-left: 130px;
    
    text-align: left;
    justify-content: center;
}
h4{
    text-align: left;
    margin-left: 80px;
}
.rate{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#button{
    margin-top:  20px;
}